<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>gestionRessourcesHumaines</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>controllers.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/Admins</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAbsence</servlet-name>
    <servlet-class>controllers.ServletAbsence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAbsence</servlet-name>
    <url-pattern>/Absences</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDiplomeSu</servlet-name>
    <servlet-class>controllers.ServletDiplomeSu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDiplomeSu</servlet-name>
    <url-pattern>/Diplomes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletPersonnel</servlet-name>
    <servlet-class>controllers.ServletPersonnel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPersonnel</servlet-name>
    <url-pattern>/Personnels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNote</servlet-name>
    <servlet-class>controllers.ServletNote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNote</servlet-name>
    <url-pattern>/Notes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMission</servlet-name>
    <servlet-class>controllers.ServletMission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMission</servlet-name>
    <url-pattern>/Missions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMatiere</servlet-name>
    <servlet-class>controllers.ServletMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMatiere</servlet-name>
    <url-pattern>/Matieres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCadre</servlet-name>
    <servlet-class>controllers.ServletCadre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadre</servlet-name>
    <url-pattern>/Cadres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDiplomate</servlet-name>
    <servlet-class>controllers.ServletDiplomate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDiplomate</servlet-name>
    <url-pattern>/Diplomate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAA</servlet-name>
    <servlet-class>controllers.ServletAA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAA</servlet-name>
    <url-pattern>/Servlets</url-pattern>
  </servlet-mapping>
</web-app>